/*_________________________________________________________________TOP PAGE_________________________________________________________________*/
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif; 
    min-width: 320px;
    background-image: linear-gradient(to top, #1d2b33,  #7e858a, #7e858a);
}

/*UTILITIES*/  
h1, h2, h3, h4, h5, h6 {font-family: Georgia, 'Times New Roman', Times, serif;}

button {cursor: pointer;}

.pageContainer {
    margin: 0 auto;
    max-width: 920px;
    background: white;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer";
}

/* HEADER */
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
}
header img {
    width: 50px;
}
header h1, h2 {
    text-align: center;
}

/* NAV */
nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
nav a {
    height: 40px;
    padding: 5px;
    display: inline-block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: #1d2b33;
    color: white;
    border-right: 1px solid white
}
nav a:last-child {
    border: none;
}
nav .nav_icon {
    font-size: 30px;
    color: white;
}
nav .nav_link_text {
    display: none;
}


/* MAIN */
main {
    grid-area: main;
    padding: 16px;
}
.main_education, .main_skills, .main_portfolio {
    border-left: 16px solid #2975c0;
    padding-left: 16px;
}
.education_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.education_item h4 {
    width: 100%;
}
.main_education img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.img_large {
    height: 50px;
}
.img_games {
    height: 200px;
}


/* FOOTER */
footer {
    width: 100%;
    padding: 16px;
    background: #424b4e;
    color: white;
    grid-area: footer;
}
footer h4 {
    text-align: center;
}

/*contact_buttons*/
.contact_buttons {
    width: 100%;
    padding: 10px 16px 0 16px;
    display: flex;
    justify-content: space-between;
}
.contact_buttons a {
    display: inline-block;
    width: 40px;
    height: 40px;
}
/*ICONS*/
.icon_med  {
    padding: 8px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
  }  
.fa:hover {opacity: 0.7;}
.fa-whatsapp {background: #25D366;}
.fa-facebook {background: #3B5998;}
.icon_mail {background: #e4d61a;}
.fa-twitter {background: #55ACEE;}
.fa-linkedin {background: #007bb5;}
.fa-youtube {background: #bb0000;}


@media only screen and (max-width: 600px) {}
